## Frontend Environment Example
VITE_AUTHOR_NAME=Thang.Truong
VITE_AUTHOR_LINKEDIN_URL=https://www.linkedin.com/in/example
VITE_AUTHOR_GITHUB_URL=https://github.com/example/todo-list
VITE_AUTHOR_FACEBOOK_URL=https://www.facebook.com/example

VITE_API_BASE_URL=https://todo-list-lzlg.vercel.app/api

VITE_GET_ALL_TASK=https://todo-list-lzlg.vercel.app/api/tasks
VITE_GET_A_TASK_ID=https://todo-list-lzlg.vercel.app/api/tasks/1
VITE_POST_A_TASK=https://todo-list-lzlg.vercel.app/api/tasks
VITE_PUT_A_TASK_ID=https://todo-list-lzlg.vercel.app/api/tasks/1
VITE_DELETE_A_TASK_ID=https://todo-list-lzlg.vercel.app/api/tasks/1

VITE_POSTMAN_URL=https://www.postman.com/downloads/
VITE_INSOMNIA_URL=https://insomnia.rest/download
VITE_CURL_URL=https://curl.se/download.html

