# Server Configuration
PORT=5000

# Serverless Database Configuration on Hostinger Provider
DB_HOST=""
DB_USER=""
DB_PASSWORD=""
DB_NAME=""
DB_PORT=""
DB_TIMEZONE="UTC"

# Node Environment
NODE_ENV=development

# LOCAL Database Configuration
DB_HOST="localhost"
DB_PORT="3308"
DB_NAME="todoList_db"
DB_USER="root"
DB_PASSWORD=""
DB_TIMEZONE="Australia/Melbourne"