# Server Configuration
PORT=5000

# Database Configuration
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=todoList_db
DB_PORT=3306

# Node Environment
NODE_ENV=development

# LOCAL Database Configuration
DB_HOST="localhost"
DB_PORT="3308"
DB_NAME="todoList_db"
DB_USER="root"
DB_PASSWORD=""